@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  transition: 0.4s all ease;
}

body {
  background-color: rgb(36, 36, 36);
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(157, 157, 157);
  font-family: "Nunito";
}

a,
.button {
  transition: all 300ms ease;
}

nav,
.nav-links {
  display: flex;
}

#nav-bar {
  box-shadow: 1px 1px 2px rgb(66, 64, 64);
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.logo img {
  height: 3.5rem;
  padding: 3px;
}

.nav-links {
  gap: 32px;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Nunito";
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
  font-family: "Nunito";
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color: rgb(181, 181, 181);
}
.logo p {
  font-size: 2rem;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo {
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo:hover {
  cursor: default;
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(36, 36, 36);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}

section {
  padding-top: 4vh;
  height: 100vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

#Home {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 90vh;
  box-shadow: 0 5px 4px -4px rgb(66, 64, 64);
}

.section-pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section-pic-container img {
  border-radius: 10px;
}

.section-text {
  align-self: center;
  text-align: center;
}

.section-text p {
  font-weight: 600;
}

.section-p1 {
  text-align: center;
}

.section-p2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

#Home .section-p2,
#Home .title {
  text-align: justify;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 5px;
}

#social-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 9rem;
  border-radius: 2rem;
}

.button-color-1,
.button-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.button-color-1:hover,
.button-color-2:hover {
  cursor: pointer;
}

.button-color-1,
.button-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.button-color-1:hover {
  background: rgb(0, 0, 0);
}

.button-color-2 {
  background: white;
}

.button-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.button-container {
  gap: 1rem;
}
#Home span,
#About span {
  color: white;
  font-weight: 600;
}
#About {
  position: relative;
  box-shadow: 0 5px 4px -4px rgb(66, 64, 64);
}

.about-container {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-container,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  min-height: fit-content;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section-pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.text-container {
  text-align: justify;
}

.ltitle {
  font-size: 1rem;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 3px;
}

.languages-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 5px;
  justify-content: center;
}

.languages-container p {
  font-family: "Nunito";
  font-size: 1rem;
  color: lightgray;
  gap: 4px;
  padding: 5px;
}

.il-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-items: center;
  justify-content: start;
  align-items: center;
  padding: 3px;
}

.il-container p:hover,
.language-icon:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color: rgb(181, 181, 181);
  cursor: default;
}

.language-icon {
  height: 1.2rem;
  align-items: center;
  justify-items: center;
}

.portfolio-subtitle {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.portfolio-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

#Portfolio {
  position: relative;
  box-shadow: 0 6px 4px -4px rgb(66, 64, 64);
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  transition: all 300ms ease-in-out;
  flex-wrap: wrap;
}

.color-container:hover {
  box-shadow: 8px 8px 0px white;
  transform: scale(1.02);
}

.portfolio-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.portfolio-title {
  margin: 1rem;
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.portfolio-button {
  color: black;
  border-color: rgb(163, 163, 163);
}

.one-button {
  width: 304px;
}

#Contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 1rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  margin-right: 1rem;
  height: 1.75rem;
  cursor: default;
}
#Contact .section-p2 {
  text-align: center;
  width: 60%;
  align-self: center;
}
#email-icon {
  height: 1.8rem;
}

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

@media screen and (max-width: 1900px) {
  #Home {
    height: 90vh;
    margin-bottom: 6rem;
  }
  .about-container {
    flex-wrap: wrap;
  }
  #Contact,
  #Portfolio {
    height: fit-content;
  }
}

@media screen and (max-width: 1400px) {
  #Home {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-container {
    flex-wrap: wrap;
  }
  #Contact,
  #Portfolio,
  #About {
    height: fit-content;
  }
  .about-details-container {
    line-height: 0.9;
  }

  #About .title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1200px) {
  #nav-bar {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }
  #Home {
    height: fit-content;
    padding: 1rem;
    margin: 5% 5%;
  }
  #About {
    padding: 1rem;
  }
  #Portfolio,
  .portfolio-details-container {
    margin-top: 2rem;
  }
  #Home,
  .section-container {
    display: block;
  }
  #Home .title {
    text-align: center;
  }
  .icon-arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section-pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .about-container {
    margin-top: 0;
  }
  .title {
    text-align: center;
  }
  .section-pic-container img {
    align-self: center;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  #Contact {
    height: 70vh;
    max-height: fit-content;
  }
  footer {
    height: 20vh;
  }
  #Home {
    height: fit-content;
    margin-bottom: 0;
    max-height: fit-content;
  }
  #Home .title {
    text-align: center;
  }
  #Home .section-p2 {
    font-size: 1.1rem;
    line-height: 1.1;
  }
  #About {
    height: fit-content;
  }
  .about-container,
  .contact-upper-container,
  .button-container {
    flex-wrap: wrap;
  }
  .contact-upper-container {
    flex-direction: column;
  }
  .contact-info-container {
    margin: 0;
    gap: 1px;
    justify-content: center;
  }
  .contact-info-container p,
  .nav-links,
  li,
  a {
    font-size: 1rem;
  }
  .portfolio-subtitle {
    font-size: 1.25rem;
  }
  .logo img {
    padding: 1rem;
  }
  .logo p {
    display: none;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section-pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section-p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 1.9rem;
    text-align: center;
  }
  .ltitle {
    text-align: center;
  }
  .languages-container {
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  .contact-icon {
    height: 1.2rem;
  }
  #email-icon {
    height: 1.5rem;
  }
  footer p {
    font-size: 0.7rem;
  }
  #Contact .section-p2 {
    line-height: 1;
  }
}
